html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    background: #000000; 
    background: -webkit-linear-gradient(to right, #1a1a1a, #000000);
    background: linear-gradient(to right, #1a1a1a, #000000);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  
}




header {
    margin-bottom:-34%; // your can remove this and it will become a heder
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo {
    position: relative;
    display: flex;
    color: whitesmoke;
    justify-self: start;
    font-size: 2em;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    padding: 0 23px;
    animation: appere 1.5s ease-in;

}


@keyframes appere {
    from {
        height: 0;
        opacity: 0%;
    }
    to {
        height: 100%;
        opacity: 100%;
    }
}


nav {
    margin-top: 5px;
    position: relative;
    background: #000000; 
    background: -webkit-linear-gradient(to right, #1a1a1a, #000000);
    background: linear-gradient(to right, #1a1a1a, #232323);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide 1.5s ease-in-out;
}
nav a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: whitesmoke;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}

@keyframes slide {
    from {
        width: 0;
        opacity: 0%;
    }
    to {
        width: 100%;
        opacity: 100%;
    }
} 

nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: #000000; 
    background: -webkit-linear-gradient(to right, #1a1a1a, #000000);
    background: linear-gradient(to right, #1a1a1a, #000000);
    animation: slide2 1.5s ease-in;
    border-radius: 8px;
    transition: .5s;
}

@keyframes slide2 {

    from {
        width: 0;
    }
    to {
        width: 20%;
    }
} 

nav a:nth-child(1):hover~span {
    left: 0;
}
nav a:nth-child(2):hover~span {
    left: 85px;
    background: #db0a0a; 
    background: -webkit-linear-gradient(to right, #1a1a1a, #000000);
    background: linear-gradient(to right, #1a1a1a, #840eeb);
}
nav a:nth-child(3):hover~span {
    left: 170px;
    background: #000000; 
    background: -webkit-linear-gradient(to right, #1a1a1a, #000000);
    background: linear-gradient(to right, #1a1a1a, #6fec08);
}
nav a:nth-child(4):hover~span {
    left: 258px;
    background: #000000; 
    background: -webkit-linear-gradient(to right, #1a1a1a, #000000);
    background: linear-gradient(to right, #1a1a1a, #00ff8c);
}
nav a:nth-child(5):hover~span {
    left: 360px;
    background: #000000; 
    background: -webkit-linear-gradient(to right, #1a1a1a, #000000);
    background: linear-gradient(to right, #1a1a1a, #a600ff);
}



